/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* --- Variables --- */
@import './vars';

/*reset*/
@import './reset.css';

/* -- Breakpoints -- */
@import './breakpoints';

/* --- components styles --- */
@import '../components/Join/join';
@import '../components/Chat/chat';
@import '../components/Header/header';
@import '../components/Sidebar/sidebar';
@import '../components/Messages/messages';
@import '../components/Messages/Message/message';
@import '../components/Input/input';


/* --- general styles --- */
body {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  overflow: hidden;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: $light-color;
	color: $dark-color-a;
	border: 0;
}

::placeholder, select {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.7rem;
  color: #444;
}

input[type='text'], select {
  padding: 10px; 
  height: 35px; 
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: $dark-color-b;
}

::-webkit-scrollbar {
  height: 10px;
  background-color: $light-color;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-color-a;
  border-radius: 3px;
}
